# Cmake build directory
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Executables
**main

# VS Code settings
.vscode/

# PolyScope files
.polyscope.ini
imgui.ini

#Benchmarks outputs
/benchmark_data/
/plots/*/*.png